/* 引入全局字体（meow.otf） */
@font-face {
  font-family: 'LXGWWenKai-Regular';
  src: url('/fonts/LXGWWenKai-Regular.ttf') format('truetype');  /* otf字体，ttf把format改成truetype */
  font-weight: normal;
  font-style: normal;
}

/* 引入代码字体（shaonv.ttf） */
@font-face {
  font-family: 'MapleMonoNormal-Regular';
  src: url('/fonts/MapleMonoNormal-Regular.otf') format('opentype');  /* ttf字体，otf把format改成opentype */
  font-weight: normal;
  font-style: normal;
}

/* 设置全局字体 */
body {
  font-family: 'LXGWWenKai-Regular', "Georgia", "Arial", sans-serif;
  font-size: 16px;
}

/* 设置代码字体 */
code, pre {
  font-family: 'MapleMonoNormal-Regular', "Fira Code", "Courier", monospace;
  font-size: 16px;
}
